.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.header{
  height:"200%";
  
}
.homebg{
  background-color:whitesmoke;
 }
 #dtext1 {
  font-size:18px;
}
#dtext2 {
  font-size:14px;
}

.form-control {
  width: 20%!important;
  
}
#display{
  display:inline;
}

.ui.action.input:not([class*="left action"])>input {
  
  width: 400px!important;
}