.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ContentItem {
  margin-top: 20px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  height: 290px;
  width:"100%";
}
.header{
  height:"200%";
  
}
.homebg{
  background-color:whitesmoke;
 }
 #dtext1 {
  font-size:18px;
}
#dtext2 {
  font-size:14px;
}