#headbg {
  background-color: rgb(26, 24, 24);
  border: 10in;
}

#dtext {
  font-weight: bold;
}
.ui.dropdown > .dropdown.icon {
  position: relative;

  font-size: 0 !important;
}
.card-size1 {
  min-height: 650px;
  margin-top: 20px;
}
.card-img1 {
  max-height: 350px !important;
  min-height: 350px !important;
}

.card-size2 {
  margin-top: 20px;
}
.card-img2 {
  max-height: 250px !important;
  min-height: 250px !important;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-top: 20px !important;
  margin-bottom: 0em !important;
  margin-inline-start: 40% !important;
}

.btmnavbar {
  background-color: white;
  position: relative;
  width: 100%;
  height: 40px;
  bottom: 0px;
  font-size: 15px;
  overflow: hidden;
}

.footer {
  text-align: left;
  position: absolute;
  color: rgb(32, 29, 29);
  overflow: hidden;
  left: 10px;
  top: 10px;
}

#hdr {
  top: 5px;
  right: 10px;
  position: absolute;
  overflow: hidden;
}

g.social-svg-mask {
  fill: black !important;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px !important;
}

.btn {
  color: whitesmoke !important;
  background-color: black !important;
  border-color: black !important;
  align-items: center !important;
  padding: 0.8em !important;
  font-weight: 600 !important;
  font-size: 1em !important;
}

/* sidebar*/

.ui.visible.left.overlay.sidebar {
  transform: translate3d(0, 0, 0);
  max-height: 700px !important;
}

.ui.vertical.menu .dropdown.item:not(.upward) .menu {
  top: 0;
  left: 130px;
  background-color: black;
  color: whitesmoke !important;
}
#sidebar.ui.menu .ui.dropdown .menu > .item {
  /* color: rgba(255,255,255,.5); */
  color:whitesmoke !important;
}
.col {
  align-self: center;
}

.ui.sidebar {
  overflow: visible !important;
}
