#headbg {
  background-color: rgb(26, 24, 24);
border: 10in;
}

#dtext {
  font-weight: bold;
}
.ui.dropdown > .dropdown.icon {
  position: relative;

  font-size: 0 !important;
}

.ContentItem {
  margin-top: 20px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  height: 270px;
  width:"100%";
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-top: 20px!important;
  margin-bottom: 0em!important;
  margin-inline-start: 40%!important;
}

.btmnavbar {
  background-color:white;
  position:relative;
  width: 100%;
  height: 40px;
  bottom: 0px;
  font-size: 15px;
  overflow: hidden;
}

.footer {
  text-align: left;
  position: absolute;
  color: rgb(32, 29, 29);
  overflow: hidden;
  left: 10px;
  top: 10px;
}

#hdr {
  top: 5px;
  right: 10px;
  position: absolute;
  overflow: hidden;
}

g.social-svg-mask {
  fill: black !important;
}