#headbg {
  background-color: rgb(26, 24, 24);
border: 10in;
}

#dtext {
  font-weight: bold;
}
.ui.dropdown > .dropdown.icon {
  position: relative;

  font-size: 0 !important;
}

.ContentItem {
  margin-top: 20px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  height: 286px;
  width:"100%";
}
