.navbar {
    overflow: hidden;
    background-color: whitesmoke;
    position: absolute;
  
  }
  .navbar a {
    float: left;
    display: block;
    color: #220f0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  


